<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="extentReports.ExtentListeners">
</listener>
</listeners>
  <test  name="CreateCustomerAPITest">
    <classes>
        <class name="testcases.CreateCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  <test  name="DeleteCustomerAPITest">
    <classes>
        <class name="testcases.DeleteCustomer"/>
    </classes>
  </test> <!-- Test -->
 </suite> <!-- Suite -->
